body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    height: 100vh;
    justify-content: center;
    
    
}

.form-container{
    margin-top: 140px;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    position: fixed;
   animation: fadeIn 2s ease-in-out;
}



form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #460606;
    border-radius: 4px;
    width: 95%;
}

textarea {
    resize: none;
    
}

button {
    background-color: #350404;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100hv;
    margin-left: 10px;
    position: fixed;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes wave {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}
